version: '3.7'
services:
  postgres:
    container_name: deep-postgres
    image: deepf/pg12-plv8:deeplinks-70-menzorg
    networks:
      - network
    ports:
    - "5432:5432"
    restart: always
    command: postgres -c max_connections=200 -c log_error_verbosity=verbose -c client_min_messages=DEBUG5 -c log_min_messages=DEBUG5 -c log_min_error_statement=DEBUG5 -c log_duration=true
    volumes:
    - db-data:/var/lib/postgresql/data
    environment:
      - 'POSTGRES_USER=postgres'
      - 'POSTGRES_PASSWORD=postgrespassword'
      - 'PGGSSENCMODE=disable'
      - 'PGSSLMODE=disable'
      - 'PGREQUIRESSL=0'
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"
  hasura:
    container_name: deep-hasura
    image: hasura/graphql-engine:v2.3.1
    networks:
      - network
    ports:
    - "8080:8080"
    extra_hosts: ['host.docker.internal:host-gateway']
    links:
    - "postgres:postgres"
    depends_on:
    - "postgres"
    restart: always
    environment:
      - 'HASURA_GRAPHQL_DATABASE_URL=postgres://postgres:postgrespassword@postgres:5432/postgres'
      - 'HASURA_GRAPHQL_ENABLE_CONSOLE=true'
      - 'HASURA_GRAPHQL_DEV_MODE=true'
      - 'HASURA_GRAPHQL_LOG_LEVEL=debug'
      - 'HASURA_GRAPHQL_ENABLED_LOG_TYPES=startup, http-log, webhook-log, websocket-log, query-log'
      - 'HASURA_GRAPHQL_ADMIN_SECRET=myadminsecretkey'
      - 'HASURA_GRAPHQL_JWT_SECRET={"type":"HS256","key":"3EK6FD+o0+c7tzBNVfjpMkNDi2yARAAKzQlk8O2IKoxQu4nF7EdAh8s3TwpHwrdWT6R"}'
      - 'HASURA_GRAPHQL_ENABLE_REMOTE_SCHEMA_PERMISSIONS=true'
      - 'HASURA_GRAPHQL_UNAUTHORIZED_ROLE=link'
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"
  storage:
    container_name: deep-hasura-storage
    image: nhost/hasura-storage:0.2.3
    depends_on:
      - hasura
    restart: unless-stopped
    ports:
      - '8000:8000'
    environment:
      - 'DEBUG=true'
      - 'HASURA_METADATA=1'
      - 'HASURA_ENDPOINT=http://host.docker.internal:8080/v1'
      - 'HASURA_GRAPHQL_ADMIN_SECRET=myadminsecretkey'
      - 'S3_ENDPOINT=http://host.docker.internal:9000'
      - 'S3_ACCESS_KEY=minioaccesskey'
      - 'S3_SECRET_KEY=miniosecretkey'
      - 'S3_BUCKET=default'
      - 'S3_ROOT_FOLDER=default'
      - 'POSTGRES_MIGRATIONS=0'
      - 'POSTGRES_MIGRATIONS_SOURCE=postgres://postgres:postgrespassword@host.docker.internal:5432/postgres?sslmode=disable'
    command: serve
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"
  minio:
    container_name: deep-minio
    image: minio/minio
    restart: always
    volumes:
      - 'minio-data:/export'
      - 'minio-config:/root/.minio'
    ports:
      - '9000:9000'
      - '32765:32765'
    environment:
      - 'MINIO_ROOT_USER=minioaccesskey'
      - 'MINIO_ROOT_PASSWORD=miniosecretkey'
    entrypoint: sh
    command: '-c ''mkdir -p /export/default && /opt/bin/minio server --address 0.0.0.0:9000 --console-address 0.0.0.0:32765 /export'''
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"
  case:
    container_name: deep-case
    image: deepf/deepcase:main
    networks:
      - network
    ports:
    - "3007:3007"
    restart: always
    pull_policy: always
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    extra_hosts: ['host.docker.internal:host-gateway']
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"
  links:
    container_name: deep-links
    image: deepf/deeplinks:main
    networks:
      - network
    ports:
    - "3006:3006"
    restart: always
    pull_policy: always
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    extra_hosts: ['host.docker.internal:host-gateway']
    environment:
      - 'DEEPLINKS_HASURA_PATH=deep-hasura:8080'
      - 'DEEPLINKS_HASURA_SSL=0'
      - 'DEEPLINKS_HASURA_SECRET=myadminsecretkey'
      - 'JWT_SECRET={"type":"HS256","key":"3EK6FD+o0+c7tzBNVfjpMkNDi2yARAAKzQlk8O2IKoxQu4nF7EdAh8s3TwpHwrdWT6R"}'
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"
volumes:
  db-data:
    name: deep-db-data
  minio-data:
    name: deep-minio-data
  minio-config:
    name: deep-minio-config
networks:
  network:
    name: deep-network
    driver: bridge